---
import { db, Comment } from 'astro:db';
import "../styles/main.css"

await db.insert(Comment).values([
		{
			author: "Pep",
			text: "Què passa nen",
			date: "21/10/24"
		}
	])

const comentarios = await db.select().from(Comment);

---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Xat</title>
</head>
<body>
	<nav>
		<h2>Xat💬</h2>
	</nav>
    <main>

		{
			comentarios.map(({ author, text }) => (
			  <article class="msj">
				<h3>{author}</h3>
				<p>{text}</p>
			  </article>
			))
		  }

	</main>
</body>
</html>
